<footer>
    <a href="#">FAQ</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#">Contact us</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#">Terms of Use</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#">Privacy Policy</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#">&copy; 2022 DocFluent</a>

    <a href="#" class="fa fa-facebook"></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#" class="fa fa-twitter"></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#" class="fa fa-pinterest"></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#" class="fa fa-linkedin"></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#" class="fa fa-instagram"></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
</footer>
</body>

</html>